<div class="clearfix">
	<div class="col-sm-7">
		<h1><%= @room.title %></h1>
		<p>募集エリア : <%= @room.area %></p>

		<p>募集者 : <%= @room.roommaster %></p>

		<p><%= link_to "募集一覧に戻る" , rooms_path %></p>
	</div>

	<div class="col-sm-5">
		<%= form_for [@room, @room.comments.build] do |f| %>
		<%= f.text_field :content %><br>
		<%= f.submit "comment" , class: "btn btn-primary"%>
		<% end %>
		<hr>
		<% @room.comments.each do |comment| %>
			<div class="clearfix">
				<div class="col-xs-2">
				<%= image_tag "#{comment.thumb}" %>
				</div>
				<div class="col-xs-10">					
					<b><%= comment.name %></b><br>
					<%= comment.content %>
				</div>
			</div>
			<hr>
		<% end %>
		
		
			
		
	</div>
</div>
